<h2>Add New Employee</h2>

<%= form_with model: @employee, local: true do |form| %>
  <div class="mb-4">
    <%= form.label :name, class: "block text-gray-700" %>
    <%= form.text_field :name, class: "w-full p-2 border rounded" %>
  </div>
  <div class="mb-4">
    <%= form.label :salary, class: "block text-gray-700" %>
    <%= form.text_field :salary, class: "w-full p-2 border rounded" %>
  </div>
  <div class="mb-4">
    <%= form.label :hours_worked, "Hours Worked", class: "block text-gray-700" %>
    <%= form.text_field :hours_worked, class: "w-full p-2 border rounded" %>
  </div>
  <div class="mb-4">
    <%= form.label :title, "Title", class: "block text-gray-700" %>
    <%= form.select :title, ['Manager', 'Associate', 'Analyst', 'Intern'], { include_blank: 'Select Title' }, class: "w-full p-2 border rounded" %>
  </div>
  <div class="mb-4">
    <%= form.label :client_id, class: "block text-gray-700" %>
    <%= form.select :client_id, current_user.clients.collect { |c| [c.name, c.id] }, { include_blank: 'Select Client' }, class: "w-full p-2 border rounded" %>
  </div>
  <div class="mb-4">
    <%= form.submit "Add Employee", class: "bg-blue-500 text-white p-2 rounded hover:bg-blue-700" %>
  </div>
<% end %>